## Question 1

In [1]:
# Part 1 : Download the movieLens-100k dataset on Moodle and unzip it. Load the CSV files in Pandas dataframes and have a look at their content. Read the README.txt file to
# understand their content.
import pandas as pd
ratings = pd.read_csv("D:/M2 SIAD/Machine Learning/Data/movielens-100k/ratings.csv")
movies = pd.read_csv("D:/M2 SIAD/Machine Learning/Data/movielens-100k/movies.csv")
links = pd.read_csv("D:/M2 SIAD/Machine Learning/Data/movielens-100k/links.csv")
tags = pd.read_csv("D:/M2 SIAD/Machine Learning/Data/movielens-100k/tags.csv")

In [4]:
ratings.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

In [ ]:
# Part 2

from surprise import Dataset
from surprise import Reader
reader = Reader(rating_scale = (0.5, 5.0))
data = Dataset.load_from_df(ratings)